[submodule "AlertRig/argp-standalone"]
	path = AlertRig/argp-standalone
	url = https://github.com/tom42/argp-standalone.git
	ignore = dirty
[submodule "AlertRig/src/ipc"]
	path = AlertRig/src/ipc
	url = https://github.com/djsperka/cross-platform-ipc.git
