################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AlertRig/bin
/AlertRig/include
/AlertRig/lib
/AlertRig/src/.vs/AlertRig/v15
/AlertRig/src/alertlib/build/Win32
/AlertRig/src/fixstim/build/Win32
/.vs
*.obj
*.user
build/
*.filters
/AlertRig/bin64
/AlertRig/lib64
.project
.cproject
AlertRig/src/*/Release
AlertRig/src/*/Debug
